<div class="main_star">

  <!--
  <p style="color: green"><%= notice %></p>
  -->

  <div class="star_bar">

    <div class="bar_title">
      我的收藏夹
    </div>

    
  </div>

  <div class="star_content">
    <%= render @starfold %>
  </div>

</div>
