/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// application

.mystore {
    .store_banner {
        background: #def;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid #5391aa;
        color: #5391aa;
        

        display: flex;
        flex-direction: row;

        .logo {
            padding-left: 100px;
            margin-right: 100px;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .title {
            text-align: center;
            align-items: center;
            justify-content: center;
            line-height: 80px;
            font-size: 30px;
            font-weight: bolder;
            text-shadow: 0.1em 0.1em 0.1em rgb(255, 255, 255);
        }

        .status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left:auto;
            margin-right: 100px;

            .status_option {
                margin-left: 10px;
                line-height: 40px;
                height: 40px;
                font-size:16px;
                justify-content: center;
                align-items: center;
                display: flex;
                padding-left: 10px;
                padding-right: 10px;

                border-radius: 8px;
                a {
                    color: #222;
                    text-decoration: none;

                }

                &:hover {
                    background-color: rgba(107, 170, 199, 0.4);
                    box-shadow: 3px 3px 2px 2px;
                }
            }
        }
    }

    .store_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        .columns{
            background-color: rgb(155, 206, 202);

            .side {
                padding-top: 1em;
                padding-left: 1em;
                padding-bottom: 1em;
                width: 16em;
                background-color: rgb(146, 207, 146);
            }
        }

        .main {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
        }
    }
}


// store

.main_store {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .store_bar {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .store_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding: 20px 20px;
            height: 240px;
            width: 80%;
            border-radius: 20px;
            margin-bottom: 42px;

            border-radius: 20px;

            background: #f5f5f5;
            position: relative;
            padding: 1.8rem;
            border: 2px solid #c3c6ce;
            transition: 0.5s ease-out;
            overflow: visible;

            &:hover {
                border-color: #008bf8;
                box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
            }

            &:hover .entry_button {
                transform: translate(-50%, 50%);
                opacity: 1;
            }

            .entry_image {

                background-color: #fff;
                
                img {
                    width: 180px;
                    height: 180px;
                }
            }

            .entry_info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 30px;
                width: 60%;

                .title_line {
                    
                    font-size: 18px;
                    font-weight: bolder;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }

                .price_line {
                    font-size: 18px;
                    font-weight: bolder;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }

                .des_line {
                    
                    height: 110px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #c3c6ce;

                    .des_content {
                        height: 100px;
                        overflow: hidden;
                        -webkit-line-clamp:4;
                        text-overflow:ellipsis;
                        font-size: 16px;
                    }
                }
            }

            .entry_option {
                margin-left: auto;
                margin-right: 20px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid red;
            }

            .entry_button {
                transform: translate(-50%, 125%);
                
                padding: .5rem 1rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                opacity: 0;
                transition: 0.3s ease-out;

                .button_to {
                    button {
                        width: 200px;
                        height: 48px;
                        border-radius: 1.6rem;
                        border: none;
                        background-color: #008bf8;
                        color: #fff;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}


