<div id="<%= dom_id cart %>" class="cart_content_one">
    <div class="content_head">
        <div class="head_title">总价：</div>
        <div class="head_item"><%= @cart.total_price %></div>
    </div>

    <div class="content_form">
        <%= render cart.items %>
    </div>
</div>
