<!--
<p style="color: green"><%= notice %></p>
-->

<div class="main_person">
<%= render @user %>

<!--
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %></div>
-->
  

</div>