<div class="main_sign">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Forgot your password? </h2>

      <!-- Login Form -->
      <%# <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form> %>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field fadeIn second">
          
          <%= f.email_field :email, placeholder: "邮箱", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions fadeIn third">
          <%= f.submit "Send" %>
        </div>
      <% end %>

      

    </div>
  </div>


</div>









