
<!--
<div>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>-->

<div class="main_form">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active">编辑商品 </h2>

      <%= render "form", product: @product %>

      <br>
    </div>
  </div>
</div>
